<% @recipe_items.each do |item| %>

<h3><%= item.food.name %></h3>
<h5>Calories: <%= item.food.calories%></h5>
<h5>Fat: <%= item.food.fat%></h5>
<h5>Sodium: <%= item.food.sodium%></h5>
<h5>Carbs: <%= item.food.carbs%></h5>
<h5>Sugar: <%= item.food.sugar%></h5>
<h5>Protein: <%= item.food.protein%></h5>
<h5>Cholesterol: <%= item.food.cholesterol%></h5>


<%= form_for item, remote: true do |f| %>
    <%= f.hidden_field :food_id, :value => item.food.id %>
    <%= f.number_field :quantity, :value => item.quantity.to_i %>
    <%= f.submit "Update Recipe", class:"btn btn-primary" %>

    <%= link_to "Remove Items", recipe_item_path(item), method: :delete, remote: true, class:"btn btn-secondary" %>

<% end %>



<% end %>
<br/>
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Total Calories</th>
            <th>Total Fat</th>
            <th>Total Sodium</th>
            <th>Total Carbs</th>
            <th>Total Sugar</th>
            <th>Total Protein</th>
            <th>Total Cholesterol</th>
        </tr>
    </thead>

    <tbody>
        <td><%= current_recipe.calTotal%></td>
        <td><%= current_recipe.fatTotal%></td>
        <td><%= current_recipe.sodiumTotal%></td>
        <td><%= current_recipe.carbsTotal%></td>
        <td><%= current_recipe.sugarTotal%></td>
        <td><%= current_recipe.proteinTotal%></td>
        <td><%= current_recipe.cholTotal%></td>
    </tbody>
</table>
<br/>
<%= link_to "Calculate", recipes_path, class:"btn btn-secondary" %>
<br/>
<br/>
<%= link_to "Add more food",foods_path, class:"btn btn-primary"%>
<br/>
<br/>
<h2>Results</h2>
<a href="https://www.fda.gov/media/99059/download">Based on FDA Daily Reference Values</a>
<br/>
<br/>

<%flash.each do |key, message| %>
    <div class="alert alert-secondary fade show text-center" role="alert">
        <%= message %>
    </div>
<br/>
<% end %>