<%= form_with(model: food, local: true) do |form| %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
        <% food.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_field :name, class:"form-control", placeholder:"Name" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :serving_size, class:"form-control", placeholder:"Serving Size (g)" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :calories, class:"form-control", placeholder:"Calories" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :url, class:"form-control", placeholder:"Image URL" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :fat, class:"form-control", placeholder:"Fat (g)" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :cholesterol, class:"form-control", placeholder:"Cholesterol (mg)" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :sodium, class:"form-control", placeholder:"Sodium (mg)" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :carbs, class:"form-control", placeholder:"Carbs (g)" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :sugar, class:"form-control", placeholder:"Sugar (g)" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :protein, class:"form-control", placeholder:"Protein (g)" %>
  </div>
  <br/>
  <div class="actions">
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
