<%#Josh Shoenfelt - Developer%>

<div class="jumbotron">
  <h1 class="display-4">
    <%= image_tag(image_url(@food.url), width: '100px', height: '100px') %>
    <%= @food.name %>
  </h1>
  <p class="lead">Serving Size: <%= @food.serving_size %> grams</p>
  <hr class="my-4">
  <p>Calories: <%= @food.calories %></p>
  <%= link_to 'Edit', edit_food_path(@food), class:"btn btn-secondary" %>
<%= link_to 'Back', foods_path, class:"btn btn-dark" %>
</div>
